:root {
	--fg-color: #fff;
	--fg-color-alt: #aaa;

	--bg-void: #444;
	--bg-img: url("rafael-garcin-HO2OGsZ1P6U-unsplash.webp");

	--bg-color: rgba(21, 21, 21, 0.7);
	--bg-color-alt: rgba(21, 21, 21, 0.4);
	--shadow-color: rgba(0, 0, 0, 0.2);

	--link-color: hsl(120 12.3% 75%);
}
@media print {
	:root {
		--fg-color: #000;
		--fg-color-alt: #999;

		--bg-void: #fff;
		--bg-img: none;

		--bg-color: #eee;
		--bg-color-alt: #ddd;
		--shadow-color: rgba(0, 0, 0, 0.0);
	}

	.dont-print {
		display: none !important;
	}

	section {
		page-break-inside: avoid;
	}

	p {
		font-size: small;
	}
}

/* Font */
@font-face {
	font-family: "SansText";
	src:
	    local("Open Sans Regular"),
	    local("OpenSans-Regular"),
	    url(open-sans-regular.woff2) format("woff2");
	font-display: swap;
}
@font-face {
	font-family: "SourceCode";
	src:
	    local("Monospace"),
	    url(FiraCode-Regular.woff2) format("woff2");
	font-display: swap;
}

/* Canvas */
html,body {
	scrollbar-gutter: stable;
	scrollbar-width: thin;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "SansText", "sans-serif";
	font-style: normal;
	font-weight: normal;
	color: var(--fg-color);
	color-scheme: dark;
}
html {
	background: var(--bg-void) var(--bg-img) no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Style */
h1 {
	margin: 0.2em;
	font-size: 3.3em;
	font-weight: bolder;
}
p, button, a {
	color: var(--fg-color);
}
a {
	color: var(--link-color);
}
/* a normal, unvisited link */
/* a:link { */
/* 	color: var(--link-color); */
/* } */
/* a link the user has visited */
a:visited {
	/* color: var(--link-color-visited); */
	filter: brightness(80%);
}
/* a link when the user mouses over it */
a:hover {
	/* color: var(--link-color-hover); */
	filter: brightness(115%);
}
/* a link the moment it is clicked */
a:active {
	/* color: var(--link-color-click); */
	filter: brightness(150%);
}
pre {
	margin: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
	background: var(--bg-color-alt);
}
code {
	font-family: "SourceCode", "Monospace";
}
samp {
	font-family: "SourceCode", "Monospace";
}

button {
	min-width: 8em;
	padding: 0.5em 1em;
	text-decoration: none;
	font-size: 100%;
	background-color: transparent;
	border: 1px solid var(--fg-color);
	color: var(--fg-color);
	/* border-radius: 0.5em; */
}
button:hover,
button:focus {
	background-color: var(--bg-color-alt);
}

.column {
	width: 100%;
	max-width: 42em;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.column > div {
	padding-left: 1em;
	padding-right: 1em;
	width: 90%;
}
.column > div > * {
	margin: 0 1em;
}

.surface {
	background: var(--bg-color);
	box-shadow: 0 1em 3em 0 var(--shadow-color), 0 1em 3em 0 var(--shadow-color);
	backdrop-filter: blur(10px);
}

.round {
	border-radius: 0.5em;
}

.menu {
	text-align: center;

	margin-bottom: 2em;
	padding-bottom: 1em;

	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

navbar,
footer {
	user-select: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 30em) {

	navbar,
	footer {
		flex-direction: column;
	}
}

aside {
	text-align: center;
}

footer {
	padding-top: 1em;
	padding-bottom: 3em;

	text-align: center;
}

.icon {
	fill: var(--fg-color);
	padding: 0.5em;
}

p {
	text-align: justify;
	word-break: auto-phrase;
}

a {
	background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

span.org_todo {
	color: salmon;
}
span.org_todo_done {
	color: lightgreen;
}
